<div class="container">
  <div class="row">
    <h2><span style="background-color: #F5F5F5;">ショッピングカート</span></h2>
    <%= link_to "カートを空にする", destroy_all_user_user_cart_items_path, method: :delete, data: {confirm: "本当に空にしてもよろしいですか？"}, class: 'btn btn-danger btn-md' %>
    <!-- フラッシュメッセージ -->
    <!-- <p id="notice"><%= notice %></p> -->
    <!-- <table style="border:none;" width="600"> -->
      <!-- エラーメッセージ -->
        <%# if @cart_item.errors.any? %>
        <!-- <div id="error_explanation"> -->
         <!-- <h3><%#= pluralize(@cart_item.errors.count, "error") %> prohibited this item from being saved:</h3> -->
          <!-- <ul> -->
          <%# @cart_item.errors.full_messages.each do |message| %>
            <!-- <li><%#= message %></li> -->
          <%# end %>
          <!-- </ul> -->
        <!-- </div> -->
       <%# end %>
    <!-- </table> -->

    <div class="cart_items<%= @user.id %>" >
      <%= render 'cart_items', user: @user, total: @total %>
    </div>

  </div>
</div>

