<div class="row">
  <div class="col-xs-4 col-xs-offset-3">
    <%= attachment_image_tag(@product, :image, :fill, 300, 300, fallback: "no_image.jpg") %>
  </div>
  <div class="col-xs-5">
    <h3><%= @product.name %></h3>
    <p><%= @product.explanation %></p>
    <h4>¥<%= (@product.price * @product.tax_rate).round %>(税込)</h4>
  </div>
</div>
<div class="row">
    
</div>
