// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

.product-group {
  list-style: none;
}

.product-group li {
  float:left;
  margin-right: 30px;
  width: 120px;
  height: 300px
}

.head {
  margin-bottom: 30px;
}

.field {
  margin-bottom: 30px;
 }

.button {
  margin: 400px 0 0 100px;
}

.product-detail p{
  float:left;
}

.action {
  color: #fff;
  background: #337ab7;
  border-color: #2e6da4;
  border-radius: 4px;
  width: 150px;
  height: 60px;
  cursor: pointer;
  padding: 15px 30px;
  margin: 15px 10px 0 75px;
  display: inline-block;
}

.action p {
  font-size: 20px;
  text-align: center;
}

