<div class="row">
  <div class="shop-detail" style="text-align: center">
    <h3 style="font-family: 'Noto Sans JP', sans-serif;">About</h3>
    <p style="line-height: 50px">
    このサイトは、ケーキ販売のECサイトになります。
        <br>会員でない方も商品の閲覧はできますが、
        <br>購入には会員登録が必要になります。
    </p>
    <hr>
    <div class="col-xs-6">
      <img src="/assets/shop-image1.jpg">
    </div>
    <div class="col-xs-6">
      <img src="/assets/shop-image2.jpg">
    </div>
    <div class="shop-address">
    </div>
  </div>

  <div class="col-xs-6" style="margin-bottom: 30px">
    <h2 style="font-family: 'Noto Sans JP', sans-serif;">Map</h2>
    <div id='map' class="<%= @map_address %>"></div>
    <style>
      #map{
        height: 400px;
      }
    </style>

    <script>
    /*
    mapを関数の外で定義(codeAddressでも使うため)
    geocoderを用意
    */

    let map
    let geocoder

    function initMap(){
      // geocoderを初期化
      geocoder = new google.maps.Geocoder()
      geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
        if (status == 'OK') {
    　　　　// map.setCenterで地図が移動
          map.setCenter(results[0].geometry.location);

    　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
          }
      });

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 16
      });
    }

    function codeAddress(){
      // 入力を取得
      let inputAddress = document.getElementById('address').value;

      // geocodingしたあとmapを移動
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  </div>

  <div class="col-xs-6">
    <div class="shop-info" style="line-height: 30px">
      <h2 style="font-family: 'Noto Sans JP', sans-serif;">Shop detail</h2>
      <h4><u>address</u></h4>
      <p>〒381-0014
        <br>長野県 <%= @map_address %>
      </p>
      <h4><u>tel</u></h4>
      <p>00-0000-0000</p>
      <h4><u>open</u></h4>
      <p>【shop】11:00〜21:00
        <br>【cafe】11:00〜20:00
        <br>※ラストオーダー19：30
        <br>混雑状況により受付終了時間が早まる場合がございます。
      </p>
    </div>
  </div>
</div>