<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h2>会員一覧画面</h2>
      <table class="table">
        <thead>
          <tr>会員ID</tr>
          <tr>氏名</tr>
          <tr>メールアドレス</tr>
          <tr>ステータス</tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr><% user.id %></tr>
          <tr><%= link_to admin_user_path(user) do %>
          <% user.email %>
          <% end %></tr>
          <tr><% user.email %></tr>
          <tr><% user.profile_status %></tr>
          <% end %>
      </table>
      <%= paginate @user, class: "paginate" %>
    </div>
  </div>
</div>