// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outer {
  margin: 40vh auto 0;
  transform: translateY(-50%);
  padding: 15px 30px;
  text-align: center;
}

.mgl-15{
    margin-left : 15px;
}